{
    "extends": "airbnb-base",
    "plugins": [
        "import"
    ],   
    "parserOptions": {
        "ecmaFeatures": {
            "globalReturn" : true
        }
    },    
    "rules": {
        "linebreak-style": ["warn", "unix"],
        "indent": ["warn", 4],
        "no-unused-vars": "warn",
        "no-trailing-spaces": "warn",
        "no-plusplus": "off",
        "no-confusing-arrow": "off",
        "strict": "off",
        "func-names": "off",
        "quotes": "warn",
        "comma-dangle": "warn",
        "prefer-const": "warn",
        "import/newline-after-import": "warn"
    },
    "globals": {
        "axios": true
    },
    "env": {
        "node": true,
        "browser": true
    }
}