{
    "extends": "airbnb-base",
    "plugins": [
        "import"
    ],
    "rules": {
        "linebreak-style": 0,
        "indent": ["error", 4],
        "no-plusplus": "off",
        "no-confusing-arrow": "off"
    },
    "env": {
        "node": true
    }
}